{% extends 'MetadorThemeBundle:Admin:template.html.twig' %}

{% block title %}Logging{% endblock %}

{% block content %}
    <div class="grid content-title">
        <div class="row r-2">
            <div class="col c-1-2">
                <h1 class="title dm">{% trans %}Catalogue Service{% endtrans %}</h1>
            </div>
            <div class="col c-1-2 text-right">
                <a href="{{ path('metador_admin_csw_new') }}" class="btn info medium">
                    <span class="icon-plus"></span> {% trans %}Neu{% endtrans %}
                </a>
            </div>
        </div>
    </div>

    <hr class="line-separator"/>

    <table class="table bordered">
        <thead>
        <tr>
            <th class="icon-column">#</th>
            <th>{% trans %}Slug{% endtrans %}</th>
            <th>{% trans %}Titel{% endtrans %}</th>
            <th>{% trans %}Quelle{% endtrans %}</th>
            <th class="icon-column">#</th>
        </tr>
        </thead>
        <tbody>
        {% for service in services %}
            <tr>
                <td class="icon-column">
                    {% if service.active == true %}
                        <span class="icon-checkbox-checked"></span>
                    {% else %}
                        <span class="icon-checkbox-unchecked"></span>
                    {% endif %}
                </td>
                <td>
                    <a href="{{ path('metador_admin_csw_edit', {'slug': service.slug, 'source': service.source }) }}">{{ service.slug }}</a>
                </td>
                <td>{{ service.title }}</td>
                <td>{{ service.source }}</td>
                <td>
                    <a href="{{ path('csw_default', {'source': service.source, 'slug': service.slug }) }}?Request=GetCapabilities&version=2.0.2&Service=CSW" target="_blank">
                        <span class="icon-earth"></span>
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
