{% extends 'MetadorThemeBundle:Admin:template.html.twig' %}

{% if form.vars.value.id is defined and form.vars.value.id is not empty %}
    {% set title  = 'Catalogue Service bearbeiten'|trans %}
    {% set path   = 'metador_admin_csw_edit' %}
    {% set params = {id: form.vars.value.id} %}
{% else %}
    {% set title  = 'Catalogue Service erstellen'|trans %}
    {% set path   = 'metador_admin_csw_new' %}
    {% set params = {} %}
{% endif %}

{% block content %}
    <div class="grid content-title">
        <div class="row r-2">
            <div class="col c-1-2">
                <h1 class="title dm">{{ title }}</h1>
            </div>
            <div class="col c-1-2 text-right">
                <a href="{{ path('metador_admin_csw') }}" class="btn medium">
                    <span class="icon-sign-out"></span> {% trans %}Übersicht{% endtrans %}
                </a>
            </div>
        </div>
    </div>

    <hr class="line-separator" />

    {{ form_start(form, { 'action': path(path, params), 'method': 'POST', 'attr': {
        novalidate: 'novalidate', autocomplete: 'off'
    }}) }}

    {% if not form.vars.valid %}
        <div class="notify error">
            {{ form_errors(form) }}
            {{ form_errors(form.slug) }}
        </div>
    {% endif %}

    <div class="grid space responsive">
        <div class="row r-2">
            <div class="col c-1-2">
                <div>{{ form_label(form.slug, null, { 'label_attr': {'class': 'form-label'}}) }}</div>
                <div class="form-field-wrapper">
                    {{ form_widget(form.slug, { 'attr': {'class': 'input'}}) }}
                </div>
            </div>
            <div class="col c-1-2">
                {#<div>{{ form_label(form.name, null, { 'label_attr': {'class': 'form-label'}}) }}</div>#}
                {#<div class="form-field-wrapper">#}
                    {#{{ form_widget(form.name, { 'attr': {'class': 'input'}}) }}#}
                {#</div>#}
            </div>
        </div>
    </div>

    {{ form_end(form) }}
{% endblock %}

